.folders {
  height: 100%;
  width: 20%;
  position: fixed;
  left: 0;
  margin-left: 10px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.active button {
  background-color: palegreen;
}
